---
import Main from '@lib/Main.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/me/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Srcoloma</title>
	</head>
	<body>
		<Main/>
	</body>
</html>
